<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoperunn.lanuchactivitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProgressBarTestActivity"
            android:label="@string/app_name">
<!-- 指定程序进入的入口-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--添加另外的activity-->
        <activity android:name=".ExpandableListActivityTest"
            android:label="@string/label2"
            android:exported="true">
        </activity>
        <activity android:name=".PreferenceActivityTest"
            android:label="@string/lable3">
        </activity>
    </application>

</manifest>